body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Imagem/plano_de_fundo.png);
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    color: #f4f4f4;
    overflow-x: hidden;
    
}

/* CABEÇALHO*/
header{
    background-color: #333;
    padding-top: 10px;

}

.menu{
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o padding */
    display: flex; /* Alinha os itens na horizontal */ 
    position: relative;
    left: 900px;
    
}

.menu a{
    text-decoration: none;
    color: #f4f4f4;
}

.menu li {
    margin-right: 50px; /* Dá espaçamento entre os itens */
    
  }



.mapa{
   text-align: left;
   width: 300px;
   height: 200px;
}


footer {
    background: #333;
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
    position: relative; /* ou você pode remover completamente se não precisar */
    bottom: 0;
    width: 100%;
}
.empresa{
    text-align:right;
    top: auto;
    
}